<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CYMulitiTableDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64A6453C1EF22505009D8C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A645551EF22505009D8C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A645601EF22505009D8C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
